/* Edge-Frfox */
@import url("content/common.css");
@import url("content/newtab.css");
@import url("tweaks/sidebery.css") (-moz-bool-pref: "uc.tweak.theme.sidebery");

.chrome-debug-toolbar {
  display:none !important;
}

/* New tab page */
@-moz-document url-prefix("about:newtab"),
url-prefix("about:home"),
url-prefix("about:firefoxview"),
url(about:privatebrowsing) {
  .top-site-outer {
    background-color: light-dark(rgba(255,255,255,.7), rgb(255, 255, 255, .0512)) !important;
    border-radius: 4px !important;
    height: 100px !important;
    width: 100px !important;
    margin-inline-end: 36px !important;
    margin-block-end: 36px !important;
    margin-block-start: -2px !important;
    transition: var(--basicBGAnimation) !important;
    & .tile {
      background-color: transparent !important;
      border-radius: unset !important;
      box-shadow: none !important;
      outline: none !important;

      & .icon-wrapper {
        border-radius: 4px !important;
        width: 32px !important;
        height: 32px !important;

        &.letter-fallback::before {
          font-size: 32px !important;
        }
      }
    }

      & .default-icon,
      & .search-topsite {
        background-size: 100% !important;
        width: 32px !important;
        height: 32px !important;
      }
    }

  .top-site-outer:hover {
    background-color: light-dark(#fff, rgba(255,255,255,.0698)) !important;
  }
  .top-site-outer:active {
    background-color: light-dark(#fff, rgba(255,255,255,.0698)) !important;
  }
  .top-site-outer:active * {
    color: var(--textPressed) !important;
  }

  /* Site icons background color and context menu button */
  .top-site-outer .top-site-icon, .top-site-outer .context-menu-button {
    background-color: transparent !important;
  }

  /* Pinned sites three-dot menu button */
  .top-site-outer .context-menu-button {
    margin-top: 20px !important;
    margin-right: 4px !important;
    opacity: 0 !important;
  }
  .top-site-outer .context-menu-button:hover {
    opacity: .9 !important;
  }

  /* Center the pinned sites area */
  .outer-wrapper .ds-top-sites .top-sites .top-sites-list {
    margin: 0 -6.25% !important;
    width: 128% !important;
  }

  /* Padding between the pinned sites */
  .top-site-outer .top-site-inner > a {
    padding: 14px 0 !important;
  }

  /* Pinned site titles */
  .top-site-outer .title {
    color: light-dark(rgba(0,0,0,.89),white) !important;
    text-shadow: none !important;
    font-size: 13px !important;
    margin-inline: 12px !important;
  }

  /* Logo and search bar */
  .logo-and-wordmark {
    display: none !important;
  }
  .search-wrapper .search-handoff-button, .search-wrapper input {
    background-color: light-dark(255,255,255,.7), rgba(255,255,255,.0605) !important;
    border-radius: 4px !important;
    transition: var(--basicBGAnimation) !important;
  }
  .search-wrapper:hover .search-handoff-button, .search-wrapper input {
    background-color: light-dark(rgba(249,249,249,.5), rgba(255,255,255,.0837)) !important;
  }
  .search-wrapper:focus-within .search-handoff-button, .search-wrapper input {
    background-color: light-dark(#fff, rgba(30,30,30,.7)) !important;
  }
  .search-inner-wrapper {
    & .search-handoff-button {
      border-radius: 4px !important;
    }
  }

  /* Background colors */
  body {
    background-color: light-dark(rgba(255,255,255,.45),rgba(58,58,58,.25))!important;
  }
  .info {
    background-color: light-dark(rgba(0,0,0,.0605), rgba(255,255,255,.0605)) !important;
  }

  @media (prefers-color-scheme: light) {
    /* Pinned site tiles */
    .top-site-outer {
      box-shadow: 0 0 0 1px rgba(0,0,0,.0578),
      0 2px 4px rgba(0,0,0,.04) !important;
    }
    .top-site-outer:hover {
      box-shadow: 0 0 0 1px rgba(0,0,0,.0578),
      0 2px 4px rgba(0,0,0,.1) !important;
      transform: translateY(-3px) !important;
    }
    .top-site-outer:active {
      box-shadow: 0 0 0 1px rgba(0,0,0,.0578) !important;
      transform: none !important;
    }
    .search-wrapper .search-handoff-button, .search-wrapper input {
      box-shadow: 0 0 0 1px rgba(0,0,0,.06),
      0 1px 0 rgba(0,0,0,.45) !important;
    }
    .search-wrapper:focus-within:focus-within .search-handoff-button:focus-within, .search-wrapper input:focus-within {
      box-shadow: 0 0 0 1px rgba(0,0,0,.06),
      0 1px 0 var(--accentLight4),
      0 -1px 0 var(--accentLight4) inset !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    /* Pinned site tiles */
    .top-site-outer {
      box-shadow: 0 0 0 1px rgba(0,0,0,.1),
      0 2px 4px rgba(0,0,0,.13) !important;

      box-shadow: 0 0 0 1px rgba(255,255,255,.07),
      0 -1px 0 rgba(255,255,255,.03) !important;
    }
    .top-site-outer:hover {
      box-shadow: 0 0 0 1px rgba(0,0,0,.1),
      0 2px 4px rgba(0,0,0,.26) !important;

      box-shadow: 0 0 0 1px rgba(255,255,255,.1),
      0 -1px 0 rgba(255,255,255,.035),
      0 2px 4px rgba(0,0,0,.26) !important;
      transform: translateY(-3px) !important;
    }
    .top-site-outer:active {
      box-shadow: 0 0 0 1px rgba(0,0,0,.1) !important;

      box-shadow: 0 0 0 1px rgba(255,255,255,.0698) !important;
      transform: none !important;
    }
    .search-wrapper .search-handoff-button, .search-wrapper input {
      box-shadow: 0 0 0 1px rgba(255,255,255,.08),
      0 1px 0 rgba(0,0,0,.54) !important;
    }
    .search-wrapper:focus-within .search-handoff-button:focus-within, .search-wrapper input:focus-within {
      box-shadow: 0 0 0 1px rgba(255,255,255,.08),
      0 1px 0 var(--accentDark),
      0 -1px 0 var(--accentDark) !important;
    }
  }
}

/* Built-in pages control */
/* Color control */
@-moz-document url-prefix(about:) {
  :root {
    --accentLight: color-mix(in srgb, accentColor 90%, black) !important; /* Main */
    --accentLight2: color-mix(in srgb, var(--accentLight) 90%, transparent) !important; /* Hover */
    --accentLight3: color-mix(in srgb, var(--accentLight) 80%, transparent) !important; /* Pressed */
    --accentLight4: color-mix(in srgb, accentColor 100%, transparent) !important; /* Full saturation */
    --accentWarningLight: color-mix(in srgb, var(--accentLight3) 50%, white) !important;

    --accentDark: color-mix(in srgb, accentColor 60%, white) !important; /* Main */
    --accentDark2: color-mix(in srgb, var(--accentDark) 90%, transparent) !important; /* Hover */
    --accentDark3: color-mix(in srgb, var(--accentDark) 80%, transparent) !important; /* Pressed */
    --accentDark4: color-mix(in srgb, accentColor 40%, white) !important; /* Extra */
    --accentWarningDark: color-mix(in srgb, var(--accentDark3) 50%, black) !important;
  
    --in-content-page-color: light-dark(#252525, #fff) !important;
    --in-content-page-background: light-dark(rgba(255,255,255,.45),rgba(58, 58, 58, .25)) !important;
    --in-content-deemphasized-text: light-dark(#666, #bbb) !important;
    --in-content-box-background: light-dark(#fff, #333) !important;
    --in-content-box-background-odd: light-dark(rgb(0 0 0 / .05), rgb(255 255 255 / .05)) !important;
    --in-content-box-info-background: light-dark(#f7f7f7, rgb(255 255 255 / 0.15)) !important;
    --in-content-icon-color: light-dark(#666, #fff) !important;
    
    --in-content-accent-color: light-dark(var(--accentLight), var(--accentDark)) !important;
    --in-content-accent-color-active: light-dark(var(--accentLight3), var(--accentDark3)) !important;
    
    --in-content-border-hover: light-dark(rgb(0 0 0 / .5), rgb(255 255 255 / .3)) !important;
    --in-content-border-invalid: var(--red-50) !important;
    --in-content-border-color: light-dark(#bebebe, rgb(255 255 255 / .2)) !important;
    --in-content-error-text-color: light-dark(#FF848A, #FF9AA2) !important;
    
    --in-content-link-color: light-dark(var(--accentLight), var(--accentDark)) !important;
    --in-content-link-color-hover: light-dark(var(--accentLight2), var(--accentDark2)) !important;
    --in-content-link-color-active: light-dark(var(--accentLight3), var(--accentDark3)) !important;
    --in-content-link-color-visited: light-dark(var(--accentLight), var(--accentDark)) !important;
    
    --link-color: var(--in-content-link-color) !important;
    --link-color-hover: var(--in-content-link-color-hover) !important;
    --link-color-active: var(--in-content-link-color-active) !important;
    --link-color-visited: var(--in-content-link-color-visited) !important;
    
    --in-content-button-text-color: var(--in-content-text-color) !important;
    --in-content-button-text-color-hover: var(--in-content-text-color) !important;
    --in-content-button-text-color-active: var(--in-content-button-text-color-hover) !important;
    
    --in-content-button-background: light-dark(rgba(0,0,0,.0373), rgba(255,255,255,.0605)) !important;
    --in-content-button-background-hover: light-dark(rgba(0,0,0,.0373), rgba(255,255,255,.0605)) !important;
    --in-content-button-background-active: light-dark(rgba(0,0,0,.0241), rgba(255,255,255,.0419)) !important;
    
    --in-content-primary-button-text-color: light-dark(#fff, #000) !important;
    --in-content-primary-button-background: light-dark(var(--accentLight), var(--accentDark)) !important;
    --in-content-primary-button-background-hover: light-dark(var(--accentLight2), var(--accentDark2)) !important;
    --in-content-primary-button-background-active: light-dark(var(--accentLight3), var(--accentDark3)) !important;
  
    --color-accent-primary: light-dark(var(--accentLight), var(--accentDark)) !important;
    --color-accent-primary-hover: light-dark(var(--accentLight2), var(--accentDark2)) !important;
    --color-accent-primary-active: light-dark(var(--accentLight3), var(--accentDark3)) !important;
    
    --in-content-danger-button-background: light-dark(#DF4951, #E12424) !important;
    --in-content-danger-button-background-hover: light-dark(#EA656C, #F94343) !important;
    --in-content-danger-button-background-active: light-dark(#BB353C, #AA1E1E) !important;

    --in-content-focus-outline-color: light-dark(var(--accentLight), var(--accentDark)) !important;
    
    --focus-outline-color: var(--in-content-focus-outline-color) !important;
    --in-content-table-background: light-dark(#f7f7f7, #252525) !important;
    --in-content-text-color: var(--in-content-page-color) !important;
    --border-interactive-color: light-dark(#929292, #858585) !important;

    --commonBackground: light-dark(#fff,#2c2c2c) !important;
    --footer: light-dark(#f3f3f3, #202020) !important;
    --footerBorder: light-dark(rgba(0,0,0,.0578),rgba(0,0,0,.1)) !important;
    --textColor: light-dark(rgba(0,0,0,.89), rgb(255,255,255)) !important;
    --textInverse: light-dark(#fff, #000) !important;
    --tableOdd: light-dark(rgba(0,0,0,.0241), rgba(255,255,255,.0419)) !important;

    --cardBG: light-dark(rgba(255,255,255,.7), rgba(255,255,255,.0605)) !important;
    --cardBGHover: light-dark(rgba(255,255,255,.49), rgba(255,255,255,.0837)) !important;
    --cardShadowLight: 0 0 0 1px rgba(0,0,0,.06) !important;
    --cardShadowLightHover: 0 0 0 1px rgba(0,0,0,.06), 0 4px 8px rgba(0,0,0,.03) !important;
    --cardShadowDark: 0 0 0 1px rgba(0,0,0,.14) !important;
    --cardShadowDarkHover: 0 0 0 1px rgba(255,255,255,.1), 0 -1px 0 rgba(255,255,255,.035), 0 4px 8px rgba(0,0,0,.1) !important;

    --button: light-dark(rgba(255,255,255,.7),rgba(255,255,255,.0605)) !important;
    --buttonHover: light-dark(rgba(249,249,249,.5), rgba(255,255,255,.0837)) !important;
    --buttonPressed: light-dark(rgba(255,255,255,.3), rgba(255,255,255,.0326)) !important;
    --buttonShadowLight: 0 0 0 1px rgba(0,0,0,.06), 0 1px 0 rgba(0,0,0,.1) !important;
    --buttonShadowLightPressed: 0 0 0 1px rgba(0,0,0,.0578) !important;
    --buttonShadowDark: 0 0 0 1px rgba(255,255,255,.07), 0 -1px 0 rgba(255,255,255,.02) !important;
    --buttonShadowDarkPressed: 0 0 0 1px rgba(255,255,255,.0698) !important;

    --textButtonHover: light-dark(rgba(0,0,0,.0373), rgba(255,255,255,.0605)) !important;
    --textButtonPressed: light-dark(rgba(0,0,0,.0241), rgba(255,255,255,.0419)) !important;
    --textPressed: light-dark(rgba(0,0,0,.6), rgba(255,255,255,.786)) !important;

    --basicBGAnimation: background-color 83ms linear, box-shadow 83ms linear, height 83ms linear, transform 83ms linear !important;

    --prefs-table-border-width: 0 !important;

    scrollbar-color:
      light-dark(rgb(37 37 37 / .4), rgb(255 255 255 / .4))
      light-dark(#f7f7f7, #252525) !important;
  }

  ::selection {
    background-color: light-dark(var(--accentLight), var(--accentDark)) !important;
    color: var(--textInverse) !important;
  }

  /* Background colors */
  @media not (-moz-bool-pref: "browser.tabs.allow_transparent_browser") {
    body {
      background-color: light-dark(#fff, #2c2c2c)!important;
    }
  }
  
  /* Parts restyling */
  * {
  	font-family: 'Segoe UI Variable Text', 'Segoe UI', 'Arial' !important;
    text-decoration: none !important;
  }
  hbox {
    font-weight: normal !important;
  }
  .content-blocking-warning-title, .privacy-detailedoption .radio-label-box {
    font-weight: 600 !important;
  }

  /* Headers */
  .sticky-container, .main-search, .main-heading, #toolbar {
  	background-color: transparent !important;
  	position: relative !important;
  }

  /* Search bars */
  search-textbox, #about-config-search, input {
    border-radius: 3px !important;
    border: none !important;
  	outline: none !important;
    transition: background-color 83ms linear, box-shadow 83ms linear !important;
  }
  .textbox-search-sign {
    margin-inline: 6px !important;
    margin-right: 12px !important;
  }
  .textbox-search-icon, .textbox-search-sign, .textbox-search-clear {
    margin-inline-start: 8px !important;
  }

  /* Sidebars */
  .navigation, #sidebar {
  	background-color: light-dark(rgba(0,0,0,.0205), rgba(0,0,0,.1)) !important;
  	border-right: 1px solid !important;
  	border-color: light-dark(rgba(0,0,0,.0605), rgba(0,0,0,.1)) !important;
    margin-left: -27px !important;
    padding-right: 7px !important;
  }
  #sidebar {
    margin-right: 22px !important;
  }

  /* Addon cards */
  .addon.card {
    background-color: var(--cardBG) !important;
    margin-block: 5px !important;
    transition: var(--basicBGAnimation) !important;
  }
  addon-card:not([expanded]) > .addon.card:hover {
    background-color: var(--cardBGHover) !important; 
  }

  .addon-detail-sitepermissions, .addon-detail-row {
    padding-bottom: 16px !important;
  }

  /* Addon page */    
  button.tab-button {
    border: none !important;
    margin: 4px !important;
    font-weight: normal !important;
    color: var(--textColor) !important;
    border-radius: 99px !important;
  }
  /* It was initially supposed to look like RTM tabs in the search menu, but I didn't manage to center the indicator */
  /*button.tab-button[selected]::after {
    content: '' !important;
    background-color: light-dark(var(--accentLight), var(--accentDark)) !important;
    position: absolute !important;
    border-radius: 99px !important;
    margin-top: 23px !important;
    margin-left: -35px !important;
    height: 3px !important;
    width: 16px !important;
  }*/
  button.tab-button[selected] {
    color: var(--textInverse) !important;
    background-color: light-dark(var(--accentLight), var(--accentDark)) !important;
  }*/
  .addon-detail-contribute {
    background-color: var(--button) !important;
    border: 1px solid light-dark(rgba(0,0,0,.0605), rgba(255,255,255,.0605)) !important;
    border-bottom-color: light-dark(rgba(0,0,0,.45), rgba(255,255,255,.54)) !important;
  }
  .addon-detail-contribute-button {
    fill: var(--textInverse) !important;
    color: var(--textInverse) !important;
    font-weight: normal !important;
    margin-bottom: unset !important;
    background-color: light-dark(var(--accentLight), var(--accentDark)) !important;
  }

  .sync-group {
    background-color: var(--cardBG) !important;
    border: none !important;
  }
  .sync-info-box {
    padding: 14px 16px !important;
  }

  /* Context menu */
	.menupopup-arrowscrollbox, panel-list, .context-menu, ul[role="menu"].menu {
		-moz-appearance: none !important;
		padding: 4px !important;
		background-color: light-dark(rgb(255,255,255), rgb(44,44,44)) !important;
		/*background-clip: padding-box !important;*/
		background-image: url('image/accnoise256.png') !important;
		border: none !important;
		border-radius: 8px !important;
		margin: 4px !important;
	}
  menulist {
    border-radius: 4px !important;
  }

  /* About:config table */
  #prefs {
    border-radius: 4px !important;
    border: none !important;
    background-color: transparent !important;
  }
  #prefs > tr.odd {
    background-color: transparent !important;
    border-radius: 4px !important;
    box-shadow: 0 0 0 99px var(--tableOdd) inset;
    border: 1px solid black !important;
  }
  #prefs > tr {
    transition: var(--textButtonHover) !important;
    border-radius: 4px !important;
    transition: var(--basicBGAnimation) !important;
  }
  #prefs > tr:hover {
    background-color: var(--textButtonHover) !important;
  }
  #prefs > tr.add {
    background-color: transparent !important;
  }
  #prefs[has-visible-prefs] > .add > th, #prefs[has-visible-prefs] > .add > td {
    padding-top: 0 !important;
  }

  /* Other tables */
  listheader {
    background-color: var(--button) !important;
    border: 1px solid light-dark(rgba(0,0,0,.0605),rgba(255,255,255,.0605)) !important;
  }
  #handlersView {
    background: var(--button-background-color) !important;
    border: 1px solid light-dark(rgba(0,0,0,.0605),rgba(255,255,255,.0605)) !important;
    margin: 0 0 8px 0 !important;
  }
  richlistitem {
    min-height: 36px !important;
    border-top: 1px solid light-dark(rgba(0,0,0,.0605), rgba(255,255,255,.0605)) !important;
  }
  
  /* Info boxes */
  .info-box-container {
    background-color: light-dark(rgba(255,255,255,.7),rgba(255,255,255,.0605)) !important;
    border: none !important;
    outline: 1px solid light-dark(rgba(0,0,0,.0605),rgba(0,0,0,.1)) !important;
    padding: 8px 16px !important;
    padding-bottom: 16px !important;
    margin-top: 8px !important;
  }
  #dohStatusSection {
    padding-block: 8px !important;
  }
  .web-appearance-choice-footer {
    padding: 8px !important;
    border-top: 1px solid var(--footerBorder) !important;
  }
  #permissionsGroup hbox {
    margin-block: 2px !important;
  }
  #web-appearance-override-warning, #text-zoom-override-warning {
    background-color: light-dark(var(--accentWarningLight), var(--accentWarningDark)) !important;
  }
  #web-appearance-chooser .icon-container, 
  #web-appearance-override-warning .icon-container, 
  #text-zoom-override-warning .icon-container {
    height: unset !important;
    margin-right: 6px !important;
  }
  #web-appearance-chooser .icon, 
  #web-appearance-override-warning .icon, 
  #text-zoom-override-warning .icon {
    color: #fff !important;
  }

  .subcategory:not([hidden]) ~ .subcategory {
    border-top: 1px solid light-dark(rgba(0,0,0,.1),rgba(255,255,255,.1)) !important;
  }
  
  .sidebar-footer-list {
    margin-block: 0 8px !important;
  }
  
  .textbox-search-icon {
    margin-right: 4px !important;
  }
  
  moz-message-bar .container .actions {
    background: none !important;
    border: none !important;
    padding: unset !important;
    margin: 0 0 auto auto !important;
  }
  
  .collapsible-section {
    padding: 10px 40px !important;
  }

  /* Links */
  a:not(.sidebar-footer-link):not(.addon-badge):not(.top-site-button),
  .text-link,
  button.text-link:is(:not([disabled="true"]), :enabled),
  ::part(support-link) {
    padding: 4px 0 !important;
    border-radius: 4px !important;
    transition: var(--basicBGAnimation) !important;
    max-width: -moz-available !important;
    width: min-content !important;
    display: ruby !important;
  }
  a:hover:not(.sidebar-footer-link):not(.addon-badge):not(.top-site-button),
  .text-link:hover,
  button.text-link:is(:not([disabled="true"]), :enabled):hover,
  ::part(support-link):hover {
    background: var(--textButtonHover) !important;
  }
  a:active:not(.sidebar-footer-link):not(.addon-badge):not(.top-site-button),
  .text-link:active,
  button.text-link:is(:not([disabled="true"]), :enabled):active,
  ::part(support-link):active {
    background: var(--textButtonPressed) !important;
    color: var(--accentLight4) !important;
  }

  /* Buttons */
  button:not(.toggle-button):not(.category):not([role="menuitem"]):not([role="menuitemcheckbox"]):not(.tab-button):not(.button-save):not([type="checkbox"]):not([type="radio"]):not(.a11y-link-button):not([type="submit"]):not(.context-menu-button):not(.search-button):not(.more-options-button):not(#checkForUpdatesButton3):not(#data-migration):not(#chooseFolder):not(#syncNow):not(.arrowhead):not(.back-button):not(.button-link):not(.addon-detail-contribute-button),
  menulist,
  .web-appearance-choice,
  treecol {
    border: none !important;
    outline: none !important;
    background-color: var(--button) !important;
    transition: var(--basicBGAnimation) !important;
    font-weight: normal !important;
  }
  /* Hover */
  button:not(.toggle-button):not(.category):not([role="menuitem"]):not([role="menuitemcheckbox"]):not(.tab-button):not(.button-save):not([type="checkbox"]):not([type="radio"]):not(.a11y-link-button):not([type="submit"]):not(.context-menu-button):not(.search-button):not(.more-options-button):not(#checkForUpdatesButton3):not(#data-migration):not(#chooseFolder):not(#syncNow):not(.arrowhead):not(.back-button):not(.button-link):not(.addon-detail-contribute-button):not([disabled]):hover,
  menulist:not([disabled]):hover,
  .web-appearance-choice:not([disabled]):hover,
  treecol:not([disabled]):hover {
    background-color: light-dark(rgba(249,249,249,.5), rgba(255,255,255,.0837)) !important;
  }
  /* Pressed */
  button:not(.toggle-button):not(.category):not([role="menuitem"]):not([role="menuitemcheckbox"]):not(.tab-button):not(.button-save):not([type="checkbox"]):not([type="radio"]):not(.a11y-link-button):not([type="submit"]):not(.context-menu-button):not(.search-button):not(.more-options-button):not(#checkForUpdatesButton3):not(#data-migration):not(#chooseFolder):not(#syncNow):not(.arrowhead):not(.back-button):not(.button-link):not(.addon-detail-contribute-button):not([disabled]):active,
  menulist:not([disabled]):active,
  .web-appearance-choice:not([disabled]):active,
  treecol:not([disabled]):active {
    background-color: light-dark(rgba(249,249,249,.3), rgba(255,255,255,.0326)) !important;
  }

  .arrowhead {
    border-radius: 3px !important;
    min-height: 30px !important;
    min-width: 30px !important;
    max-height: 30px !important;
    max-width: 30px !important;
    margin-right: -4px !important;
  }
  .back-button {
    background-color: transparent !important;
    transition: var(--basicBGAnimation) !important;
  }
  .back-button:hover {
    background-color: var(--buttonHover) !important;
  }
  .back-button:active {
    background-color: var(--buttonPressed) !important;
  }

  .more-options-button {
    background-color: unset !important;
  }
  .more-options-button:hover {
    background-color: light-dark(rgba(0,0,0,.0373), rgba(255,255,255,.0605)) !important;
  }
  .more-options-button:active {
    background-color: light-dark(rgba(0,0,0,.0241), rgba(255,255,255,.0419)) !important;
  }

  .button-save,
  button[type="submit"],
  #checkForUpdatesButton3,
  #data-migration,
  #chooseFolder,
  #syncNow {
    background-color: light-dark(var(--accentLight), var(--accentDark)) !important;
    color: light-dark(#fff, #000) !important;
    transition: var(--basicBGAnimation) !important;
    border: 1px solid rgba(255,255,255,.08) !important;
    border-bottom-color: light-dark(rgba(0,0,0,.4), rgba(0,0,0,.14)) !important;
  }
  .button-save:hover,
  button[type="submit"]:hover,
  #checkForUpdatesButton3:hover,
  #data-migration:hover,
  #chooseFolder:hover,
  #syncNow:hover {
    background-color: light-dark(var(--accentLight2), var(--accentDark2)) !important;
  }
  .button-save:active,
  button[type="submit"]:active,
  #checkForUpdatesButton3:active,
  #data-migration:active,
  #chooseFolder:active,
  #syncNow:active {
    background-color: light-dark(var(--accentLight3), var(--accentDark3)) !important;
    opacity: .8 !important;
  }

  /* Check Box - Adapted from Firefox UWP */
	checkbox {
		opacity: 1 !important;
	}
	checkbox > .checkbox-check, input[type="checkbox"] {
		background-color: light-dark(rgba(0,0,0,.0241),rgba(0,0,0,.1)) !important;
		border: 1px solid light-dark(rgba(0,0,0,.6), rgba(255,255,255,.6)) !important;
		background-clip: padding-box !important;
		border-radius: 4px !important;
		-moz-context-properties: fill !important;
		fill: light-dark(#fff,#000) !important;
		-moz-appearance: none !important;
		width: 20px !important;
		height: 20px !important;
		margin: 0px !important;
		box-shadow: none !important;
    transition: background-color 43ms linear !important;
	}
	checkbox:hover > .checkbox-check, input[type="checkbox"]:hover {
		background-color: light-dark(rgba(0,0,0,.0578),rgba(255,255,255,.0419)) !important;
	}
	checkbox:active > .checkbox-check, input[type="checkbox"]:active {
		background-color: light-dark(rgba(0,0,0,.0924),rgba(255,255,255,.0698)) !important;
		border-color: light-dark(rgba(0,0,0,.2169),rgba(255,255,255,.1581)) !important;
	}
	input[type="checkbox"]:checked, checkbox[checked="true"] > .checkbox-check {
		background: light-dark(var(--accentLight), var(--accentDark)) !important;
		border-color: light-dark(var(--accentLight), var(--accentDark)) !important;
	}
	input[type="checkbox"]:checked:hover, checkbox[checked="true"]:hover > .checkbox-check {
		background-color: light-dark(var(--accentLight2), var(--accentDark2)) !important;
		border-color: light-dark(var(--accentLight2), var(--accentDark2)) !important;
	}
	input[type="checkbox"]:checked:active, checkbox[checked="true"]:hover:active > .checkbox-check {
		background-color: light-dark(var(--accentLight3), var(--accentDark3)) !important;
		border-color: light-dark(var(--accentLight3), var(--accentDark3)) !important;
		fill: light-dark(rgba(255,255,255,.7), rgba(0,0,0,.5)) !important;
	}
	checkbox[checked="true"] > .checkbox-check , input[type="checkbox"]:checked {
		background-image: url("chrome://global/skin/icons/check.svg") !important;
		background-repeat: no-repeat !important;
		background-size: 12px !important;
		background-position: center center !important;
	}
	input[type="checkbox"] {
		margin-right: 10px !important;
	}
	input[type="checkbox"]:-moz-focusring {
		outline: none !important;
	}
	.checkbox-label-box {
		margin-left: 10px !important;
	}
  /* Check Box Disabled */
	checkbox[disabled="true"] > .checkbox-label-box {
		color: light-dark(rgba(0,0,0,.3614), rgba(255,255,255,.3614)) !important;
	}
	checkbox[disabled="true"] > .checkbox-check {
		background-color: transparent !important;
		border: 1px solid light-dark(rgba(0,0,0,.2169),rgba(255,255,255,.1581)) !important;
		fill: transparent !important;
	}
	checkbox[disabled="true"][checked="true"] > .checkbox-check, checkbox[disabled="true"][checked="true"]:is(:hover, :hover:active) > .checkbox-check  {
		background-color: light-dark(rgba(0,0,0,.2169),rgba(255,255,255,.1581)) !important;
		border: light-dark(rgba(0,0,0,.2169),rgba(255,255,255,.1581)) !important;
		fill: light-dark(#fff,rgba(255,255,255,.53)) !important;
	}

  /* Toggle Switch */
	input[type="checkbox"].toggle-button, input[type="checkbox"] + .slider, .protections-popup-tp-switch, .toggle-button {
		background-clip: padding-box !important;
		background-color: light-dark(rgba(0,0,0,.0241), rgba(0,0,0,.1)) !important;
		background-image: none !important;
		border: 1px solid light-dark(rgba(0,0,0,.6), rgba(255,255,255,.6)) !important;
		border-radius: 12px !important;
		padding: 9px !important;
		padding-right: 32px !important;
    width: 38px !important;
    height: 18px;
	}
	.protections-popup-tp-switch {
		padding: 3px !important;
		padding-right: 26px !important;
	}
	input[type="checkbox"].toggle-button:hover, input[type="checkbox"]:hover + .slider, .protections-popup-tp-switch:hover, .toggle-button:hover {
		background-color: light-dark(rgba(0,0,0,.0578), rgba(255,255,255,.0419)) !important;
	}
	input[type="checkbox"].toggle-button:active, input[type="checkbox"]:active + .slider, .protections-popup-tp-switch:active, .toggle-button:active {
		background-color: light-dark(rgba(0,0,0,.0924), rgba(255,255,255,.0698)) !important;
	}
	input[type="checkbox"].toggle-button:checked, input[type="checkbox"]:checked + .slider, .protections-popup-tp-switch[enabled], .toggle-button[aria-pressed="true"] {
		background: light-dark(var(--accentLight), var(--accentDark)) !important;
		border-color: transparent !important;
	}
	input[type="checkbox"].toggle-button:checked:hover, input[type="checkbox"]:checked:hover + .slider, .protections-popup-tp-switch[enabled]:hover, .toggle-button[aria-pressed="true"]:hover {
		background: light-dark(var(--accentLight2), var(--accentDark2)) !important;
		border-color: transparent !important;
	}
	input[type="checkbox"].toggle-button:checked:active, input[type="checkbox"]:checked:active + .slider, .protections-popup-tp-switch[enabled]:active, .toggle-button[aria-pressed="true"]:active {
		background-color: light-dark(var(--accentLight3), var(--accentDark3)) !important;
		border-color: transparent !important;
	}
	input[type="checkbox"].toggle-button::before, input + .slider::before, .protections-popup-tp-switch::before, .toggle-button::before {
	    background: light-dark(rgba(0,0,0,.6), rgba(255,255,255,.786)) !important;
	    height: 12px !important;
	    width: 12px !important;
	    outline: none !important;
		margin: 0px !important;
		transition: transform 200ms, height 83ms linear, width 83ms linear !important;
		transform: translateX(-6px) translateY(-6px) !important;
	}
	.protections-popup-tp-switch::before {
		transform: none !important;
	}
	input[type="checkbox"].toggle-button:hover::before, input:hover + .slider::before, .protections-popup-tp-switch:hover::before, .toggle-button:hover::before {
		height: 14px !important;
    width: 14px !important;
    transform: translateX(-7px) translateY(-7px) !important;
	}
	input[type="checkbox"].toggle-button:checked::before, input:checked + .slider::before, .protections-popup-tp-switch[enabled]::before, .toggle-button[aria-pressed="true"]::before {
		background: light-dark(white,black) !important;
		transform: translateX(-3px) translateY(-6px) !important;
	}
  input[type="checkbox"].toggle-button:checked:hover::before, input:hover:checked + .slider:hover::before, .protections-popup-tp-switch[enabled]:hover::before, .toggle-button[aria-pressed="true"]:hover::before {
		transform: translateX(-4px) translateY(-7px) !important;
	}
	.protections-popup-tp-switch[enabled]::before {
		transform: translateX(23px) !important;
	}
	input[type="checkbox"].toggle-button:checked:hover::before, input:hover:checked + .slider::before, .protections-popup-tp-switch[enabled]:hover::before {
		background: AccentColorText !important;
	}
	.slider::before {
		bottom: 0px !important;
		inset-inline-start: 0px !important;
	}
	input[type="checkbox"] + .slider::before {
		transform: translateX(2px) translateY(-3px) !important;
	}
	input[type="checkbox"]:checked + .slider::before {
		transform: translateX(27px) translateY(-3px) !important;
	}

  /* Radio Button */
	radio {
		opacity: 1 !important;
	}
	input[type="radio"] {
		appearance: none !important;
		background-clip: border-box !important;
		background-color: light-dark(rgba(0,0,0,.0241), rgba(0,0,0,.1)) !important;
		border: 1px solid light-dark(rgba(0,0,0,.6), rgba(255,255,255,.6)) !important;

		outline: none !important;
		border-radius: 100% !important;
		margin-right: 5px !important;
		box-shadow: none !important;
		width: auto !important;
		height: auto !important;
		list-style: none !important;
	}
	input[type="radio"]:hover {
		background-color: light-dark(rgba(0,0,0,.0578), rgba(255,255,255,.0419)) !important;
		border-color: light-dark(rgba(0,0,0,.6), rgba(255,255,255,.6)) !important;
	}
	input[type="radio"]:hover:active {
		background-color: light-dark(rgba(0,0,0,.0924), rgba(255,255,255,.698)) !important;
		border-color: light-dark(rgba(0,0,0,.2169), rgba(255,255,255,.1581)) !important;
	}
	input[type="radio"]:checked {
		background-color: light-dark(var(--accentLight), var(--accentDark)) !important;
		border-color: transparent !important;
	}
	input[type="radio"]:checked:hover {
		background-color: light-dark(var(--accentLight2), var(--accentDark2)) !important;
		border-color: transparent !important;
	}
	input[type="radio"]:checked:hover:active {
		background-color: light-dark(var(--accentLight3), var(--accentDark3)) !important;
		border-color: transparent !important;
	}
	input[type="radio"]::before {
		display: block !important;
		content: "" !important;
		background: transparent !important;
		height: 8px !important;
		width: 8px !important;
		margin: 4px !important;
		border-radius: 100% !important;
		transition: all 43ms linear !important;
	}
	input[type="radio"]:hover::before {
		height: 10px !important;
		width: 10px !important;
		margin: 3px !important;
	}
	input[type="radio"]:hover:active::before {
		background: light-dark(#fff,#000) !important;
	}
	input[type="radio"]:checked::before {
		background: light-dark(#fff,#000) !important;
	}
	input[type="radio"]:checked:hover::before {
		background: light-dark(#fff,#000) !important;
	}
	input[type="radio"]:checked:hover:active::before {
		background: Alight-dark(#fff,#000) !important;
	}
	input[type="radio"] + span {
		position: relative !important;
		bottom: 0px !important;
	}

  /* Old radio buttons */
	radio {
		position: relative !important;
	}
	radio > .radio-check {
		-moz-context-properties: fill !important;
		appearance: none !important;

		background-clip: padding-box !important;
		background-color: light-dark(rgba(0,0,0,.0241), rgba(0,0,0,.1)) !important;
		border: 1px solid light-dark(rgba(0,0,0,.6), rgba(255,255,255,.6)) !important;
		border-radius: 100% !important;

		padding: 1px !important;
		margin-right: 5px !important;
		box-shadow: none !important;
		width: 18px !important;
		height: 18px !important;
	}
	radio:hover > .radio-check {
		background-color: light-dark(rgba(0,0,0,.0578), rgba(255,255,255,.0419)) !important;
		border: 1px solid light-dark(rgba(0,0,0,.6), rgba(255,255,255,.6)) !important;
	}
	radio:hover:active > .radio-check {
		background-color: light-dark(rgba(0,0,0,.0924), rgba(255,255,255,.698)) !important;
		border: 1px solid light-dark(rgba(0,0,0,.2169), rgba(255,255,255,.1581)) !important;
	}
	radio[selected="true"] > .radio-check {
		fill: light-dark(#fff,#000) !important;
		background-clip: border-box !important;
		background-color: light-dark(var(--accentLight), var(--accentDark)) !important;
		border-color: transparent !important;
	}
	radio[selected="true"]:hover > .radio-check {
		fill: light-dark(#fff,#000) !important;
		background-color: light-dark(var(--accentLight2), var(--accentDark2)) !important;
		border-color: transparent !important;
	}
	radio[selected="true"]:hover:active > .radio-check {
		fill: light-dark(#fff,#000) !important;
		background-color: light-dark(var(--accentLight3), var(--accentDark3)) !important;
		border-color: transparent !important;
	}

	radio[selected="true"]::before {
		position: absolute !important;
		left: 5px !important;
		display: block !important;
		content: "" !important;
		background: light-dark(#fff,#000) !important;
		height: 8px !important;
		width: 8px !important;
		border-radius: 100% !important;
		transition: all 43ms linear !important;
	}

	/* Radio Button Disabled */
	radio[disabled="true"] > .radio-label-box {
		color: light-dark(rgba(0,0,0,.2169), rgba(255,255,255,.1581)) !important;
	}
	radio:is([disabled="true"], [disabled="true"][selected="true"]) > .radio-check {
		background-color: light-dark(rgba(0,0,0,.2169), rgba(255,255,255,.1581)) !important;
		border: light-dark(rgba(0,0,0,.2169), rgba(255,255,255,.1581)) !important;
	}
	radio:is([disabled="true"], [disabled="true"][selected="true"]):is(:hover, :hover:active) > .radio-check {
		background-color: light-dark(rgba(0,0,0,.2169), rgba(255,255,255,.1581)) !important;
		border: light-dark(rgba(0,0,0,.2169), rgba(255,255,255,.1581)) !important;
	}
	radio > .radio-label-box {
		margin-left: 5px !important;
		outline: none !important;
	}

	input[type="range"] {
		-moz-appearance: none !important;
		border: none !important;
		background: light-dark(rgba(0,0,0,.44), rgba(255,255,255,.54)) !important;
		height: 2px !important;
	}
	input[type="range"]:hover {
		background: light-dark(rgba(0,0,0,.44), rgba(255,255,255,.54)) !important;
	}
	input[type="range"]::-moz-range-progress {
		background: light-dark(var(--accentLight), var(--accentDark)) !important;
		height: 2px !important;
	}
	input[type="range"]::-moz-range-thumb {
		background: light-dark(var(--accentLight), var(--accentDark)) !important;
		border: none !important;
		width: 20px !important;
		height: 20px !important;
		border-radius: 50% !important;
	}

  /* Add new shortcut dialog */
  .edit-topsites-wrapper .modal {
    box-shadow: 0 8px 16px rgba(0,0,0,.26) !important;
    outline: 1px solid rgba(117,117,117,.4) !important;
    width: fit-content !important;
    border: none !important;
  }
  .modal {
    border-radius: 8px !important;
    background: light-dark(#fff, rgb(44,44,44,44)) !important;
  }
  .a11y-link-button {
    color: light-dark(var(--accentLight2), var(--accentDark2)) !important;
  }
  .actions {
    background-color: light-dark(#f3f3f3,#202020) !important;
    border-top: 1px solid light-dark(rgba(0,0,0,.0578), rgba(0,0,0,.1)) !important;
    border-radius: 0 0 8px 8px !important;
    flex-flow: row nowrap !important;
    padding: 25px 21px 10px !important;
  }
  .topsite-form .actions button {
    margin-inline: 4px !important;
    width: -moz-available !important;
  }
  
  @media (prefers-color-scheme: light) {
    .edit-topsites-wrapper .modal {
      box-shadow: 0 32px 64px 0 rgba(0,0,0,.19), 0 2px 21px rgba(0,0,0,.15) !important;
    }

    .category:active * {
      opacity: .6 !important;
    }
    *.category:active {
      opacity: .6 !important;
    }
    .sidebar-footer-link:active * {
      opacity: .6 !important;
    }

  	search-textbox,
    #about-config-search,
    input#downloadFolder,
    #form-edit > input {
  		background-color: rgba(255,255,255,.7) !important;
	  	box-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 1px 0 rgba(0,0,0,.45) !important;
      color: rgba(0,0,0,.89) !important;
  	}
    search-textbox:hover,
    #about-config-search:hover,
    input#downloadFolder:hover,
    #form-edit > input:hover {
      background-color: rgba(249,249,249,.5) !important;
    }
    search-textbox:focus-within,
    #about-config-search:focus-within,
    input#downloadFolder:focus-within,
    #form-edit > input:focus-within {
      background-color: rgb(252,252,252) !important;
      box-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 -2px 0 var(--accentLight) inset !important;
    }
    input#downloadFolder,
    #form-edit > input,
    #filter {
      box-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 1px 0 rgba(0,0,0,.45) !important;
    }

    /* Addon cards */
    .addon.card {
      box-shadow: var(--cardShadowLight) !important;
    }
    .addon-card:not([expanded]) > .addon.card:hover {
      box-shadow: var(--cardShadowLightHover) !important;
    }
    .addon-detail-sitepermissions, .addon-detail-row {
      border-top: 1px solid rgba(0,0,0,.06) !important;
    }
    .tab-group {
      border-top: 1px solid rgba(0,0,0,.06) !important;
      border-bottom: none !important;
    }
    .addon-details .tab-group {
      border-top: none !important;
    }

    .sync-group {
      box-shadow: var(--cardShadowLight) !important;
    }

    /* Context menu */
    .menupopup-arrowscrollbox, panel-list, .context-menu, ul[role="menu"].menu {
      box-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 8px 16px 0 rgba(0,0,0,.14) !important;
    }

    /* Buttons */
    button:not(.toggle-button):not(.category):not([role="menuitem"]):not([role="menuitemcheckbox"]):not(.tab-button):not(.button-save):not([type="checkbox"]):not([type="radio"]):not(.a11y-link-button):not([type="submit"]):not(.context-menu-button):not(.search-button):not(.more-options-button):not(#checkForUpdatesButton3):not(#data-migration):not(#chooseFolder):not(#syncNow):not(.arrowhead):not(.back-button):not(.button-link):not(.addon-detail-contribute-button),
    menulist,
    .web-appearance-choice,
    treecol {
      box-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 1px 0 rgba(0,0,0,.1) !important;
    }
    /* Pressed */
    button:not(.toggle-button):not(.category):not([role="menuitem"]):not([role="menuitemcheckbox"]):not(.tab-button):not(.button-save):not([type="checkbox"]):not([type="radio"]):not(.a11y-link-button):not([type="submit"]):not(.context-menu-button):not(.search-button):not(.more-options-button):not(#checkForUpdatesButton3):not(#data-migration):not(#chooseFolder):not(#syncNow):not(.arrowhead):not(.back-button):not(.button-link):not(.addon-detail-contribute-button):not([disabled]):active,
    menulist:not([disabled]):active,
    .web-appearance-choice:not([disabled]):active,
    treecol:not([disabled]):active {
      box-shadow: 0 0 0 1px rgba(0,0,0,.0578) !important;
    }
    button:not(.toggle-button):not(.category):not([role="menuitem"]):not([role="menuitemcheckbox"]):not(.tab-button):not(.button-save):not([type="checkbox"]):not([type="radio"]):not(.a11y-link-button):not([type="submit"]):not(.context-menu-button):not(.search-button):not(.more-options-button):not(#checkForUpdatesButton3):not(#data-migration):not(#chooseFolder):not(#syncNow):not(.arrowhead):not(.back-button):not(.button-link):not(.addon-detail-contribute-button):not([disabled]):active,
    menulist:not([disabled]):active > *,
    .web-appearance-choice:not([disabled]):active > *,
    treecol:not([disabled]):active > * {
      opacity: .6 !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    .edit-topsites-wrapper .modal {
      box-shadow: 0 32px 64px 0 rgba(0,0,0,.37), 0 2px 21px rgba(0,0,0,.37) !important;
    }

    .category:active *{
      opacity: .786 !important;
    }
    *.category:active {
      opacity: .786 !important;
    }
    .sidebar-footer-link:active * {
      opacity: .786 !important;
    }

  	search-textbox,
    #about-config-search,
    input#downloadFolder,
    #form-edit > input {
  		background-color: rgba(255,255,255,.0605) !important;
	  	box-shadow: 0 0 0 1px rgba(255,255,255,.07), 0 -1px 0 rgba(255,255,255,.02), 0 1px 0 rgba(255,255,255,.54) !important;
  	}
    search-textbox:hover,
    #about-config-search:hover,
    input#downloadFolder:hover,
    #form-edit > input:hover {
      background-color: rgba(255,255,255,.0837) !important;
    }
    search-textbox:focus-within,
    #about-config-search:focus-within,
    input#downloadFolder:focus-within,
    #form-edit > input:focus-within {
      background-color: rgb(30,30,30) !important;
      box-shadow: 0 0 0 1px rgba(255,255,255,.0698), 0 -2px 0 var(--accentDark) inset !important;
    }
    
    input#downloadFolder,
    #form-edit > input,
    #filter {
      box-shadow: 0 0 0 1px rgba(255,255,255,.08), 0 1px 0 rgba(255,255,255,.54) !important;
    }

    /* Addon cards */
    .addon.card {
      box-shadow: var(--cardShadowDark) !important;
    }
    addon-card:not([expanded]) > .addon.card:hover {
      box-shadow: var(--cardShadowDarkHover) !important;
    }
    .addon-detail-sitepermissions, .addon-detail-row {
      border-top: 1px solid rgba(0,0,0,.2) !important;
    }
    .tab-group {
      border-top: 1px solid rgba(0,0,0,.2) !important;
      border-bottom: none !important;
    }

    .sync-group {
      box-shadow: var(--cardShadowDark) !important;
    }

    /* Context menu */
    .menupopup-arrowscrollbox, panel-list, .context-menu, ul[role="menu"].menu {
      box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 8px 16px 0 rgba(0,0,0,.26) !important;
    }

    /* Buttons */
    button:not(.toggle-button):not(.category):not([role="menuitem"]):not([role="menuitemcheckbox"]):not(.tab-button):not(.button-save):not([type="checkbox"]):not([type="radio"]):not(.a11y-link-button):not([type="submit"]):not(.context-menu-button):not(.search-button):not(.more-options-button):not(#checkForUpdatesButton3):not(#data-migration):not(#chooseFolder):not(#syncNow):not(.arrowhead):not(.back-button):not(.button-link):not(.addon-detail-contribute-button),
    menulist,
    treecol {
      box-shadow: 0 0 0 1px rgba(255,255,255,.07), 0 -1px 0 rgba(255,255,255,.02) !important;
    }
    /* Pressed */
    button:not(.toggle-button):not(.category):not([role="menuitem"]):not([role="menuitemcheckbox"]):not(.tab-button):not(.button-save):not([type="checkbox"]):not([type="radio"]):not(.a11y-link-button):not([type="submit"]):not(.context-menu-button):not(.search-button):not(.more-options-button):not(#checkForUpdatesButton3):not(#data-migration):not(#chooseFolder):not(#syncNow):not(.arrowhead):not(.back-button):not(.button-link):not(.addon-detail-contribute-button):not([disabled]):active,
    menulist:not([disabled]):active,
    .web-appearance-choice:not([disabled]):active,
    treecol:not([disabled]):active {
      box-shadow: 0 0 0 1px rgba(255,255,255,.0698) !important;
    }
    button:not(.toggle-button):not(.category):not([role="menuitem"]):not([role="menuitemcheckbox"]):not(.tab-button):not(.button-save):not([type="checkbox"]):not([type="radio"]):not(.a11y-link-button):not([type="submit"]):not(.context-menu-button):not(.search-button):not(.more-options-button):not(#checkForUpdatesButton3):not(#data-migration):not(#chooseFolder):not(#syncNow):not(.arrowhead):not(.back-button):not(.button-link):not(.addon-detail-contribute-button):not([disabled]):active,
    menulist:not([disabled]):active > *,
    .web-appearance-choice:not([disabled]):active > *,
    treecol:not([disabled]):active > * {
      opacity: .786 !important;
    }
  }
}

/*
  MARK: Preferences page
*/
@-moz-document url-prefix(about:preferences),
url-prefix(about:addons) {
  .category {
    color: var(--textColor) !important;
    margin-block: 4px !important;
    font-size: 14px !important;
    height: 48px !important;
    min-height: 0 !important;
    padding-inline-start: 34px !important;
    background-position-x: 11px !important;
  }

  .category[selected] {
    position: relative !important;
    border-radius: 4px !important;
    color: var(--textColor) !important;
  }

  .category[selected]:not(:hover, :active) {
    background-color: var(--in-content-button-background) !important;
  }

  .category[selected]::before {
    content: "";
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    height: 24px;
    width: 3px;
    left: -1px !important;
    background-color: var(--in-content-accent-color);
    border-radius: 3px;
  }

  button.tab-button:hover {
    border-block-color: transparent var(--in-content-box-border-color) !important;
  }

  button.tab-button[selected],
  button.tab-button[selected]:hover {
    border-block-color: transparent currentColor !important;
  }
}
@-moz-document url-prefix(about:preferences) {
  .category {
    padding-inline-start: 10px !important;
  }
}
