/* Edge-Frfox */
@import url("content/common.css");
@import url("content/newtab.css");
@import url("tweaks/sidebery.css") (-moz-bool-pref: "uc.tweak.theme.sidebery");

.chrome-debug-toolbar {
  display:none !important;
}

/* New tab page */
@media (prefers-color-scheme: dark) {
@-moz-document url-prefix("about:newtab"),
url-prefix("about:home"),
url-prefix("about:firefoxview") {

/* Pinned site tiles */
  .top-site-outer {
    & .tile {
      border-radius: 4px !important;
      height: 70px !important;
      width: 70px !important;
      border: none !important;
      box-shadow: 0 0 0 1px rgba(255,255,255,.07),
      0 -1px 0 rgba(255,255,255,.035) !important;
      background-color: rgb(255, 255, 255, .0605) !important;

      & .icon-wrapper {
        border-radius: 4px !important;
        width: 28px !important;
        height: 28px !important;

        &.letter-fallback::before {
          font-size: 32px !important;
        }
      }
    }

    & .default-icon,
    & .search-topsite {
      background-size: 100% !important;
      width: 28px !important;
      height: 28px !important;
    }
  }

/* Padding between them 
.top-site-outer .top-site-inner > a {
	padding: 0 16px 0 !important;
}*/

/* Fix site icons have background color */
.top-site-outer .top-site-icon {
	background-color: transparent !important;
}

/* Pinned site context menu button */
.top-site-outer .context-menu-button {
	background-color: transparent !important;
}

/* Pinned site titles */
.top-site-outer .title {
	color: white !important;
	text-shadow: none !important;
	font-family: 'Aptos', 'Segoe UI Variable Text', 'Segoe UI' !important;
	font-size: 13.5px !important;
}


/* END OF DARK MODE CUSTOMIZATION */
}}

@media (prefers-color-scheme: light) {
@-moz-document url-prefix("about:newtab"),
url-prefix("about:home"),
url-prefix("about:firefoxview") {

/* Pinned site tiles */
  .top-site-outer {
    & .tile {
      border-radius: 4px !important;
      height: 70px !important;
      width: 70px !important;
      border: none !important;
      box-shadow: 0 0 0 1px rgba(0,0,0,.08),
      0 1px 0 rgba(0,0,0,.14),
      0 4px 12px rgba(0,0,0,.0305) !important;
      background-color: rgba(255,255,255,.7) !important;
      
      & .icon-wrapper {
        border-radius: 4px !important;
        width: 28px !important;
        height: 28px !important;

        &.letter-fallback::before {
          font-size: 32px !important;
        }
      }
    }

    & .default-icon,
    & .search-topsite {
      background-size: 100% !important;
      width: 28px !important;
      height: 28px !important;
    }
  }

/* Padding between them 
.top-site-outer .top-site-inner > a {
	padding: 0 16px 0 !important;
}*/

/* Fix site icons have background color */
.top-site-outer .top-site-icon {
	background-color: transparent !important;
}

/* Pinned site context menu button */
.top-site-outer .context-menu-button {
	background-color: transparent !important;
}

/* Pinned site titles */
.top-site-outer .title {
	color: rgba(0,0,0,.89) !important;
	text-shadow: none !important;
	font-family: 'Aptos', 'Segoe UI Variable Text', 'Segoe UI' !important;
	font-size: 13.5px !important;
}

/* END OF LIGHT MODE CUSTOMIZATION */
}}



/* Background color/images */
@-moz-document url(about:newtab),
url(about:home),
url(about:privatebrowsing) {
  body {
    --newtab-element-hover-color: rgb(239 239 239 / .3) !important;
    --newtab-element-active-color: rgb(239 239 239 / .45) !important;
    --text-shadow: 0 1px 2px #000;
    --icon-shadow: drop-shadow(0 0.3px 0.6px #000);
    
    
    background-color: light-dark(#f9f9f9,#272727) !important;
    background-color: light-dark(rgba(255,255,255,.5),rgba(58,58,58,.3))!important;
    
    
    background-image: var(--bg-0) !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;

    :root[lwt-newtab-brighttext] &,
    :root.private & {
      background-image: var(--bg-1), var(--bg-0) !important;
      --newtab-element-hover-color: rgb(66 66 66 / .4) !important;
      --newtab-element-active-color: rgb(66 66 66 / .55) !important;
    }
  }
}

/* Built-in pages control */
/* Color control */
@-moz-document url-prefix(about:) {
  :root {
    --accentLight: color-mix(in srgb, accentColor 100%, transparent) !important;
    --accentLight2: color-mix(in srgb, accentColor 80%, transparent) !important;
    --accentLight3: color-mix(in srgb, accentColor 90%, transparent) !important;
    --accentLight4: color-mix(in srgb, accentColor 90%, black) !important;
    --accentDark: color-mix(in srgb, accentColor 60%, white) !important;
    --accentDark2: color-mix(in srgb, accentColor 40%, white) !important;
    --accentDark3: color-mix(in srgb, accentColor 50%, white) !important;
    --accentDark4: color-mix(in srgb, accentColor 60%, white 30%, black) !important;
  
    --in-content-page-color: light-dark(#252525, #fff) !important;
    --in-content-page-background: light-dark(rgba(255,255,255,.45),rgba(58, 58, 58, .25)) !important;
    --in-content-deemphasized-text: light-dark(#666, #bbb) !important;
    --in-content-box-background: light-dark(#fff, #333) !important;
    --in-content-box-background-odd: light-dark(rgb(0 0 0 / .05), rgb(255 255 255 / .05)) !important;
    --in-content-box-info-background: light-dark(#f7f7f7, rgb(255 255 255 / 0.15)) !important;
    --in-content-icon-color: light-dark(#666, #fff) !important;
    
    --in-content-accent-color: light-dark(var(--accentLight4), var(--accentDark)) !important;
    --in-content-accent-color-active: light-dark(var(--accentLight2), var(--accentDark2)) !important;
    
    --in-content-border-hover: light-dark(rgb(0 0 0 / .5), rgb(255 255 255 / .3)) !important;
    --in-content-border-invalid: var(--red-50) !important;
    --in-content-border-color: light-dark(#bebebe, rgb(255 255 255 / .2)) !important;
    --in-content-error-text-color: light-dark(#FF848A, #FF9AA2) !important;
    
    --in-content-link-color: light-dark(var(--accentLight), var(--accentDark)) !important;
    --in-content-link-color-hover: light-dark(var(--accentLight2), var(--accentDark2)) !important;
    --in-content-link-color-active: light-dark(var(--accentLight4), var(--accentDark3)) !important;
    --in-content-link-color-visited: light-dark(#0078D4, #75B6E8) !important;
    
    --link-color: var(--in-content-link-color) !important;
    --link-color-hover: var(--in-content-link-color-hover) !important;
    --link-color-active: var(--in-content-link-color-active) !important;
    --link-color-visited: var(--in-content-link-color-visited) !important;
    
    --in-content-button-text-color: var(--in-content-text-color) !important;
    --in-content-button-text-color-hover: var(--in-content-text-color) !important;
    --in-content-button-text-color-active: var(--in-content-button-text-color-hover) !important;
    
    --in-content-button-background: light-dark(rgba(0,0,0,.0373), rgba(255,255,255,.0605)) !important;
    --in-content-button-background-hover: light-dark(rgba(0,0,0,.0373), rgba(255,255,255,.0605)) !important;
    --in-content-button-background-active: light-dark(rgba(0,0,0,.0241), rgba(255,255,255,.0419)) !important;
    
    --in-content-primary-button-text-color: light-dark(#fff, #fff) !important;
    --in-content-primary-button-background: light-dark(#0061e0, #006CBE) !important;
    --in-content-primary-button-background-hover: light-dark(#0250bb, #0078D4) !important;
    --in-content-primary-button-background-active: light-dark(#053e94, #005CA3) !important;
    --color-accent-primary: light-dark(#0078D4, #006CBE) !important;
    --color-accent-primary-hover: light-dark(#006CBE, #0078D4) !important;
    --color-accent-primary-active: light-dark(#0749AC, #005CA3) !important;
    
    
    --color-accent-primary: light-dark(var(--accentLight), var(--accentDark)) !important;
    --color-accent-primary-hover: light-dark(var(--accentLight3), var(--accentDark3)) !important;
    --color-accent-primary-active: light-dark(var(--accentLight4), var(--accentDark2)) !important;
    
    --in-content-danger-button-background: light-dark(#DF4951, #E12424) !important;
    --in-content-danger-button-background-hover: light-dark(#EA656C, #F94343) !important;
    --in-content-danger-button-background-active: light-dark(#BB353C, #AA1E1E) !important;
    --in-content-focus-outline-color: light-dark(rgb(0 85 215 / .5), #63ADE5) !important;
    
    --in-content-focus-outline-color: light-dark(var(--accentLight), var(--accentDark)) !important;
    
    --focus-outline-color: var(--in-content-focus-outline-color) !important;
    --in-content-table-background: light-dark(#f7f7f7, #252525) !important;
    --in-content-text-color: var(--in-content-page-color) !important;
    --border-interactive-color: light-dark(#929292, #858585) !important;
    scrollbar-color:
      light-dark(rgb(37 37 37 / .4), rgb(255 255 255 / .4))
      light-dark(#f7f7f7, #252525) !important;
  }

  ::selection {
    background-color: light-dark(var(--accentDark4), var(--accentDark));
    color: light-dark(#fff, #000);
  }
  
  /* Parts restyling */
  * {
  	font-family: 'Segoe UI Variable Text' !important;
  }
  .sticky-container, .main-search, .main-heading, #toolbar {
  	background-color: transparent !important;
  }
  search-textbox, #about-config-search {
    border: none !important;
  	outline: none !important;
    transition: background-color 83ms linear, box-shadow 83ms linear !important;
  }
  .navigation, #sidebar {
  	background-color: light-dark(rgba(0,0,0,.0205), rgba(0,0,0,.1)) !important;
  	border-right: 1px solid !important;
  	border-color: light-dark(rgba(0,0,0,.0605), rgba(0,0,0,.1)) !important;
    margin-left: -27px !important;
    padding-right: 7px !important;
  }
  #sidebar {
    margin-right: 22px !important;
  }

  .addon.card {
    margin-block: 5px !important;
    transition: all 83ms linear !important;
  }

	.menupopup-arrowscrollbox, panel-list, .context-menu, ul[role="menu"].menu {
		-moz-appearance: none !important;
		padding: 4px !important;
		background-color: light-dark(rgb(243,243,243), rgb(44,44,44)) !important;
		/*background-clip: padding-box !important;*/
		background-image: url('image/accnoise256.png') !important;
		border: none !important;
		border-radius: 8px !important;
		margin: 4px !important;
	}

  .addon-detail-sitepermissions, .addon-detail-row {
    padding-bottom: 16px !important;
  }
  
  @media (prefers-color-scheme: light) {
  	search-textbox, #about-config-search {
  		background-color: rgba(255,255,255,.7) !important;
	  	box-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 1px 0 rgba(0,0,0,.1) !important;
      color: rgba(0,0,0,.89) !important;
  	}
    search-textbox:hover, #about-config-search:hover {
      background-color: rgba(249,249,249,.5) !important;
    }
    search-textbox:focus-within, #about-config-search:focus-within {
      background-color: rgb(252,252,252) !important;
      box-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 -2px 0 var(--accentLight) inset !important;
    }

    .addon.card {
      background: rgba(255,255,255,.7) !important;
      box-shadow: 0 0 0 1px rgba(0,0,0,.06) !important;
    }
    addon-card:not([expanded]) > .addon.card:hover {
      background: rgba(249,249,249,.5) !important;
      box-shadow: 0 0 0 1px rgba(0,0,0,.06),
      0 4px 8px rgba(0,0,0,.03) !important;
    }

    .addon-detail-sitepermissions, .addon-detail-row {
      border-top: 1px solid rgba(0,0,0,.06) !important;
    }
    .tab-group {
      border-top: 1px solid rgba(0,0,0,.06) !important;
      border-bottom: 1px solid rgba(0,0,0,.06) !important;
    }

    .menupopup-arrowscrollbox, panel-list, .context-menu, ul[role="menu"].menu {
      box-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 8px 16px 0 rgba(0,0,0,.14) !important;
    }
  }
  @media (prefers-color-scheme: dark) {
  	search-textbox, #about-config-search {
  		background-color: rgba(255,255,255,.0605) !important;
	  	box-shadow: 0 0 0 1px rgba(255,255,255,.07), 0 -1px 0 rgba(255,255,255,.02) !important;
  	}
    search-textbox:hover, #about-config-search:hover {
      background-color: rgba(255,255,255,.0837) !important;
    }
    search-textbox:focus-within, #about-config-search:focus-within {
      background-color: rgb(30,30,30) !important;
      box-shadow: 0 0 0 1px rgba(255,255,255,.0698), 0 -2px 0 var(--accentDark) inset !important;
    }

    .addon.card {
      background: rgba(255,255,255,.0605) !important;
      box-shadow: 0 0 0 1px rgba(0,0,0,.14) !important;
    }
    addon-card:not([expanded]) > .addon.card:hover {
      background: rgba(255,255,255,.0837) !important;
      box-shadow: 0 0 0 1px rgba(255,255,255,.1),
      0 -1px 0 rgba(255,255,255,.035),
      0 4px 8px rgba(0,0,0,.1) !important;
    }

    .addon-detail-sitepermissions, .addon-detail-row {
      border-top: 1px solid rgba(0,0,0,.2) !important;
    }
    .tab-group {
      border-top: 1px solid rgba(0,0,0,.2) !important;
      border-bottom: 1px solid rgba(0,0,0,.2) !important;
    }

    .menupopup-arrowscrollbox, panel-list, .context-menu, ul[role="menu"].menu {
      box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 8px 16px 0 rgba(0,0,0,.26) !important;
    }
  }
}

/*
  MARK: Preferences page
*/
@-moz-document url-prefix(about:preferences),
url-prefix(about:addons) {
  .category {
    color: light-dark(rgba(0,0,0,.89), #fff) !important;
    margin-block: 4px !important;
    font-size: 14px !important;
    height: 48px !important;
    min-height: 0 !important;
    padding-inline-start: 34px !important;
    background-position-x: 11px !important;
  }

  .category[selected] {
    position: relative !important;
    border-radius: 4px !important;
    color: light-dark(#000, #fff) !important;
  }

  .category[selected]:not(:hover, :active) {
    background-color: var(--in-content-button-background) !important;
  }

  .category[selected]::before {
    content: "";
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    height: 24px;
    width: 3px;
    left: -1px !important;
    background-color: var(--in-content-accent-color);
    border-radius: 3px;
  }

  button.tab-button:hover {
    border-block-color: transparent var(--in-content-box-border-color) !important;
  }

  button.tab-button[selected],
  button.tab-button[selected]:hover {
    border-block-color: transparent currentColor !important;
  }

  .toggle-button {
    --toggle-dot-margin: 3px !important;
    --toggle-width: 40px !important;
    --toggle-height: 20px !important;
    --toggle-background-color: transparent !important;
    --toggle-dot-background-color: var(--in-content-page-color) !important;
    --toggle-dot-background-color-on-pressed: light-dark(white, black) !important;
    --toggle-dot-transform-x: calc(var(--toggle-width) - 2 * var(--toggle-dot-margin) - 2 * var(--toggle-border-width) - var(--toggle-dot-width)) !important;
  }
}
@-moz-document url-prefix(about:preferences) {
  .category {
    padding-inline-start: 10px !important;
  }
}
